body{
	max-width: 1900px;
	min-width: 800px;
	font-family: Arial;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	background-color: white;
	display: flex;
	flex-direction: column;
}

#zone-menu{
	background-color: none;
	width: 100%;
	height: auto;
}

#logo{
	width: 10%;
	height: 40%;
}

#zone-menu #logomenu{
	width: 100%;
	display: flex;
}

#zone-menu #logomenu #menu{	
	background-color: white;
	text-align: center;
	width: 100%;
}

#zone-menu #menu #listmenu{
	list-style: none;
	display: inline-flex;
	padding-top: 2%;
	padding-right: 9.5%;
	text-align: center;
	justify-content: center;

}

#zone-menu #menu #listmenu li{
	background-color: none;
	font-size: 100%;
	margin-left: 70px;
	border-left: solid;
	border-width: 0.5px;
	border-color: grey;
}

/*Au passage de la souris, l'arrire plan devient bleu*/
#listmenu li #menul:hover{
	background-color: #A2CAE2;
}

#menul{
	background-color: none;
	font-size: 170%;
	margin-left: 0.8em;
	text-decoration: none;
	color: black;
}

#zone-titre{
	background-color: none;
}

#div_ariane{
	background-color: #E8E8E8;
	width: 100%;
	height: 15%;
	text-align: center;
}

#ariane{
	font-size: 120%;
	text-decoration: none;
	color: black;
}

#lien_image{
	color: white;
}

#zone-titre #div_titre{
	background-color: none;
	width: 100%;
	height: 30%;
	text-align: center;
	margin-bottom: 20px;
}

/*Animation de slide des images sur la page d'accueil*/
@keyframes AutoSlide {
	0% {
		left: 0px; /*1ère image*/
	}
	15% {
		left: 0px; /*idem pour attente*/
	}
	35% {
		left: -1304px; /*2ème image*/
	}
	50% {
		left: -1304px; /*idem pour attente*/
	}
	70% {
		left: -2609px; /*3ème image*/
	}
	85% {
		left: -2609px; /*idem pour attente*/
	}
	100% {
		left: 0px; /*1ère image*/
	}
}

#slideshow {
	position: relative;
	width: 1300px;
	height: 383px;
	margin:  20px auto;
	overflow: hidden;
	border : 3px solid grey;
	margin-bottom: 5%;
}
#sContent li {
	display: inline;
}

#sContent {
	position: absolute;
	top: 0;
	left: 0;
	width: 5000px;
	margin: 0;            
	padding: 0;
	
	animation-name: AutoSlide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.main_content_p3{
	background-color: white;
	margin-left: 20%;
    margin-right: 20%;
	margin-bottom: 5px;
}

#h1_main{
	text-align: center;
	font-family: Georgia;
	font-size: 210%;
}

#intro_p3{
	font-family: Georgia;
}

#h1_sommaire_p3{
	font-family: Georgia;
}

#h1_p3, #h3_p3, #h4_p3_etique, #h2_p3_neuralink{
	font-family: Georgia;
}

#fleche{
	width: 20%;
	height: 20%;
}

#hint{
	padding-top:5px;
	padding-bottom:5px;
	position:fixed;
	z-index:4;
	display:inline-block;
	right: -320px;
	bottom:2%;

	background-color:none;
}

.Sommaire_p3{
	line-height: 1.7em;		
}

#p_intro_p3{
	line-height: 1.5em;
}

#Prem_Txt_Image_p3{
	display: flex;
	flex-wrap: nowrap;
}

#p1_p3{
	margin-left: 25%;
	line-height: 1.7em;
}

#p2_p3, #p3_p3, #p4_p3{
	line-height: 1.5em;
}

#Txt1_p3{
	font-size : 100%
}

#neuralink_logo{
	width: 130%;
	height: 40%;
	margin-top: 45%;
}

#Secnd_Txt_Image_p3{
	display: flex;
	flex-direction: row-reverse;
}

#Cerveau_p3{	
	width: 350%;
	height: 100%;
}

#Fourth_Txt_Image_p3{
	display: flex;
}

#Elon_Musk_p3{
	width: 110%;
	margin-top: 60%;	
	margin-left: 10%;
}

footer{
	background-color: #C1C4C6;
	margin-bottom: 0px;
	margin-top: 10px;
	font-size: 100%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}

#real{
	padding-top: 27px;
}

#p_footer{
	font-size: 170%;
}

#div_footer_lien{
	margin-top: 2%;
}

#lien_git{
	text-decoration : none;
	font-size: 90%;
}

#logoiut{
	width: 15%;
	height: 15%;
	padding-top: 2%;
}

#partie_0{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 5%;
	margin-top: 3%;
}

#article{
	display: flex;
	justify-content: space-around;
	margin-top: 2%;
}

#article_image{
	display: flex;
	flex-direction: column;
	padding-left: 6.9%;
}

#partie_1{
	text-align: center;
	margin-bottom: 5%;
	position: relative;
	border-bottom: solid 1px grey;
}

#text_image{
	position: absolute;
	top: 77%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: white;
  	font-size: 200%;
	font-family: 40px/43px Georgia,serif;
	background-color: rgba(0,0,0,0.7)
}

#text_image2{
	position: absolute;
	top: 76.5%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: white;
  	font-size: 200%;
	font-family: 40px/43px Georgia,serif;
	background-color: rgba(0,0,0,0.7)
}

#puce{
	width: 90%;
	height: 90%;
	margin-left: auto;
	margin-right: auto;
}

#musk{
	width: 90%;
	height: 90%;
}

#partie_2{
	text-align: center;
	margin-bottom: 3%;
	position: relative;
	border-bottom: solid 1px grey;
}

h2{
	font-size: 200%;
	font-family: 40px/43px Georgia;
}

#p_source{
	font-size: 90%;
	font-family: Arial;
	color: #888;
}

#savoirplus{
	color: #2876AA;
}

#p1{
	font-size: 130%;
	font-family: Arial;
	color: #212529;
	text-align: left;
	margin-left: 10px;
}

#tablo{
	border : solid 5px #E68C1A;
	height: 100%;
}

#titre-tablo{
	font-size: 200%;
	font-family: 40px/43px Georgia;
	color: #222;
	text-align: center;
	border-bottom: solid 5px #E68C1A;
}

#article #tablo a #img_boite{
	transition: transform .2s;
}

/*Passage de la souris pour grossir les images du tableau de la page d'accueil*/
#article #tablo a #img_boite:hover{
	transform: scale(1.5);
	border : solid 2px #E68C1A;
}

#p_boite{
	font-size: 180%;
	font-family: 40px/43px Georgia,serif;
	color: #222;
	width: 100%;
}

.main_content_p1
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	margin-left: 20%;
	margin-right: 20%;
}

.main_content_p1 p{
	font-size: 100%;
}

#h1_sommaire_p1{
	font-family: Georgia;
	font-size: 200%;
}

#Sommaire_p1{
	line-height: 1.7em;
}

#h2_page1{
	font-size: 170%;
	font-family: Georgia;
	color: #222;
	margin-bottom: 5px;
}

#h3_page1{
	font-size: 130%;
	color: #222;
}

#hippo{
	width: 150%;
}

#img_elec{
	margin-left: 10px;
}

#text_p_p1
{
}

#article_p_1_1
{
	display: flex;
	flex-direction: column;
}
#article_p_1_2
{
	display: flex;
	flex-direction: column;
}
#article_p_1_3
{
	display: flex;
	flex-direction: column;
}

#article_p_1_3
{
	display: flex;
	flex-direction: column;
}

td
{
	border : 1px solid black;

}

#video_p1
{
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

#page_title_p1
{
	display: flex;
	justify-content: center;
	font-family: Georgia;
}

#sous-partie_p1
{
	display: flex;
	flex-direction: row;
}

#txt_sous-partie_p1
{
	float: left;
}
#sources_p1
{
	font-size: 100%;
	font-style: italic;
}

#legende_p1
{
	display: flex;
	justify-content: center;
}

#p1{
	font-size: 120%;
	font-family: arial;
	color: #212529;
}

#partie_3{
	margin-bottom: 100px;
}

#partie_3 #line{
	display: flex;
	justify-content: center;
	align-items: center;
}

#partie_3 #line #boite{
	margin-left: 5%;
	padding-right: 5%;
	text-align: center;
}

#partie_3 #line #boite a #img_boite{
	transition: transform .2s;
}

#partie_3 #line #boite a #img_boite:hover{
	transform: scale(1.5);
}

#p_boite{
	font-size: 200%;
	font-family: 40px/43px Georgia,serif;
	color: #222;
}

a{
	text-decoration: none;
}

.box1 {
    background-color: orange;
    float: left;
    width: 30%;
    height: 100%;
    
    
}
.box2 {
    background-color: orange;
    float: right;
    width: 40%;
    height: 100%;
    
    
}
#image{                   
	width: 100%;
	display: flex;
}

.main_content_p2{
	
	background-color: white;
	margin-bottom: 5px;
    margin-right: 20%;
    margin-left: 20%;
}

#sommaire_p2{
	line-height: 1.7em;
}

#h1_page2{
	padding-top: 1%;
	font-size: 200%;
	font-family: Georgia;
	text-align: center;
}

#h1_sommaire{
	font-family: Georgia;
}

#dp2{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 35%;
}

#dp3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right: 42%;
}

#dp4 {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 5em;
    margin-inline-start: 0px;
    margin-inline-end: 5px;
    line-height: 1.3em;
    
}
#dpartie1, #dpartie2, #dpartie3, #dpartie4{
	font-size: 200%;
	font-family: Georgia;
}

#dpartie1_a {
	font-size: 200%;
	font-family: Georgia;
}

#voir_aussi{
	font-size: 120%;
	color: black;
	text-decoration: underline;
}